@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.animate-slide-in {
  animation: slide-in 0.5s ease-out forwards;
}

.animate-slide-out {
  animation: slide-out 0.5s ease-out forwards;
}


.custom-checkbox {
  appearance: none; 
  -webkit-appearance: none;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #d1d5db; 
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.custom-checkbox:checked {
  background-color: #22c55e; 
  border-color: #22c55e;
}

.custom-checkbox:checked::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 7px;
  width: 8px;
  height: 12px;
  border: solid white;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}
